* {
    box-sizing: border-box;
}

body {
    font-family:
        "Times New Roman",
        sans-serif;
    margin: 0;
    color: #221e1e;
    background: whitesmoke;
}

header {
    background: rgb(35, 31, 31);
    color: antiquewhite;
    padding: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 10px 0 0;
}

header nav a {
    color: #ffff;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

.oculto {
    display: none;
}

button {
    cursor: pointer;
    padding: 8px 14px;
    border-radius: 6px;
    border: 1px solid grey;
    background-color: bisque;
}

main {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

img {
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
}

footer {
    background: rgb(32, 27, 27);
    color: wheat;
    text-align: center;
    padding: 16px;
}
